a {
    text-decoration: none;
}

.leftbar {
    height: 300px;
    float: left;
    width: 350px;
}

#currentlist {
    width: 300px;
    float: left;
}

#form-header, #currentlist-head {
    font-size: 23px;
    text-shadow: 1px 1px 2px #BBB;
}

.list-item div {
    float: left;
}

.item-url {
    width: 150px;
}

.item-url a {
    font-style: italic;
}

.list-items {
    margin-top: 20px;
}

.list-item {
    height: 20px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-edit, .item-delete {
    width: 50px;
}
