#title a {
   font-family: 'Rammetto One', cursive;
   font-size: 30px;
   color: black;
   text-decoration: none;
   text-shadow: 3px 1px 4px #DDD;
}

#import-form {
    float: left;
}

.form-content {
    margin-top: 20px;
    margin-left: 20px;
}

#import-form input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

#content {
    min-height: 400px;
}

.welcome {
    font-family: 'Niconne', cursive;
    font-size: 40px;
    border-bottom: 2px solid #F0F0F0;
    margin-bottom: 15px;
    padding-bottom: 3px;
}

#output-field {
    float: left;
    margin-left: 100px;
    width: 500px;
}

#output-field li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nav li {
    float: right;
}

#note {
    float: left;
    width: 350px;
    font-size: 20px;
    font-family: times;
    margin-left: 20px;
}

#note.note-lr {
    margin-left: 100px;
    margin-top: 43px;
}

#processing {
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
}

.form {
    float: left;
}

.form input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.errorimg {
    float: right;
}

.errorimg img {
    height: 300px;
}

.errormsg {
    font-size: 20px;
    float: left;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
    line-height: 40px;
}

a {
    text-decoration: none;
}

.leftbar {
    height: 300px;
    float: left;
    width: 350px;
}

.currentlist {
    width: 300px;
    float: left;
}

a.backtolist {
    float: right;
}
.form-header, .currentlist-header {
    font-size: 23px;
    text-shadow: 1px 1px 2px #BBB;
}

.list-item div {
    float: left;
}

.item-url {
    width: 150px;
}

.item-url a {
    font-style: italic;
}

.list-items {
    margin-top: 20px;
}

.list-item {
    height: 20px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-edit, .item-delete {
    width: 50px;
}

#course-list a {
    text-decoration: none;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    font-size: 18px;
    height: 28px;
    text-align: center;
    padding-top: 10px;
    color: #FFF3B8;
    background-color: #4B4B4B;
    font-weight: bold;
    text-shadow: 1px 0.9px 4px white;
    margin-left: 300px;
}

#codeform {
    clear: both;
}

.done > a.helperbutton, .done > a.helperbutton:visited {
    background-color: gold;
}

.done > a.helperbutton.secondlevel, .done > a.helperbutton.secondlevel:visited, .notdone > a.helperbutton, .notdone > a.helperbutton:visited, a.helperbutton, a.helperbutton:visited {
    background-color: #59ea3a;
}

.notdone > a.helperbutton.secondlevel, .notdone > a.helperbutton.secondlevel:visited {
    background-color: lightgrey;
}

a.helperbutton, a.helperbutton:visited {
    height: 25px;
    text-align: center;
    width: 186px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
    padding-top: 8px;
    color: black;
    display: block;
    font-family: 'Fondamento', cursive;
}

.secondlevel {
    margin-left: 50px;
}

.buttonforest {
    float: left;
}

.coursename {
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 0.1px grey;
}

.compareitem {
    height: 23px;
}

.comparelist {
    margin-top: 10px;
    font-size: 15px;
}

.noneofyourfriends {
    font-color: #a6a6a6;
}

.forms {
    float: left;
}

.item-ccn {
    width: 100px;
}
