#title a {
   font-size: 30px;
   color: black;
   text-decoration: none;
   font-weight: bold;
   text-shadow: 3px 1px 4px white;
}

#import-form {
    float: left;
}

#form-content {
    margin-top: 20px;
    margin-left: 20px;
}

#import-form input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

#content {
    min-height: 400px;
}

#output-field {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}

#output-field li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nav li {
    float: right;
}
