{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="{{ media_header }}/css/monitor.css" />
{% endblock %}
{% block content %}
<script type="text/javascript">
    var url_login = "{% url login %}";

</script>

<form id="monitor-form">
    
    <div id="form-content">
        {% csrf_token %}
        <label for="ccn">Course CCN</label> <br />
        <input type="text" name="ccn" /> <br />
        <label for="cell-phone">Cell Phone</label> <br />
        <input type="text" name="cell-phone" /> <br />
        <input type="submit" name="login" value="Log In" />
    </div>
</form>

<div id="note">
</div>
{% endblock %}
