{% extends "base.html" %}
{% block scripts %}
<script src="/media/js/index.js" type="text/javascript" ></script>
<link rel="stylesheet" href="/media/css/index.css" />
{% endblock %}
{% block content %}
<script type="text/javascript">
    var url_import_all = "{% url import_all_data %}";
    var url_compare_schedule = "{% url compare_schedule %}";
</script>

<form id="csrf-form" style="display:none">
    {% csrf_token %}
</form>

<a href="javascript:compare_schedule()">Compare your schedule with your friends</a> <br />
<a href="{% url manage_monitor_course %}">Monitor a course</a> <br />
<a href="{% url manage_shortlink %}">Manage Shortlink</a> <br />
{% if not request.user.profile.is_phone_set %}
    <a href="{% url set_phone %}">Set your cell phone</a> <br />
{% endif %}

<div id="note"></div>

{% endblock %}
