{% extends "base.html" %}
{% block scripts %}
<script src="/media/js/index.js" type="text/javascript" ></script>
{% endblock %}
{% block content %}
<form id="import-form" action="{% url import_course_data %}" method="post">
    <h3>Login As in Ninjacourses</h3>
    <div id="form-content">
        {% csrf_token %}
        <label for="username">Username</label> <br />
        <input type="text" name="username" /> <br />
        <label for="username">Password</label> <br />
        <input type="password" name="password" /> <br />
        <input type="button" value="Import" onclick='fetch_data()' />
    </div>
</form>
<div id="output-field">
    </div>
{% endblock %}
