{% extends "base.html" %}
{% block scripts %}
<script src="/media/js/login.js" type="text/javascript" ></script>
<link rel="stylesheet" href="/media/css/login.css" />
{% endblock %}
{% block content %}
<script type="text/javascript">
    var url_login = "{% url login %}";
    var url_next = "{{ next }}";
</script>
<form id="form" class="form" method="post">
    <div class="form-header">Log In</div>
    <div class="form-content">
        {% csrf_token %}
        <label for="username">Username</label> <br />
        <input type="text" name="username" /> <br />
        <label for="username">Password</label> <br />
        <input type="password" name="password" /> <br />
        <input type="submit" name="login" value="Log In" />
    </div>
</form>

<div id="note" class="note-lr">
    Note: Use the same username and password as in ninjacourses.
</div>
{% endblock %}
