{% extends "base.html" %}
{% block scripts %}
<script src="{{ media_header }}/js/manage_monitor_course.js" type="text/javascript" ></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
    var url_add_monitor_course = "{% url add_monitor_course %}";
</script>

<div class="leftbar">
    <form id="form" class="form" method="post">
        <div class="form-header">Add new course to monitor</div>
        <div class="form-content">
            {% csrf_token %}
            <label for="ccn">Course CCN</label> <br />
            <input type="text" name="ccn" /> <br />
            <input type="submit" name="submit" value="Submit" /> <br />
        </div>
    </form>

    <div id="note">
    </div>
</div>

<div class="currentlist">
    <div class="currentlist-header">Current</div>
    <div class="list-items">
        {% for coursemonitor in request.user.profile.monitored_course.all %}
        <div class="list-item">
            <div class="item-ccn">{{ coursemonitor.ccn }}</div>
            <div class="item-delete"><a href="{% url delete_monitor_course coursemonitor.ccn %}">Delete</a></div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
