{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="/media/css/manage_shortlink.css" />
<script src="/media/js/manage_shortlink.js" type="text/javascript" ></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
    var url_login = "{% url login %}";
    var url_add_shortlink = "{% url add_shortlink %}";
</script>

<div class="leftbar">
    <form id="form" method="post" class="form">
        <div class="form-header">Add new shortlink</div>
        <div id="form-content">
            {% csrf_token %}
            <label for="shortname">Short Name</label> <br />
            {{ form.shortname }} <br />
            <label for="url">URL</label> <br />
            {{ form.url }} <br />
            <input type="submit" name="submit" value="Add" />
        </div>
    </form>
    <div id="note">
    </div>
</div>
<div id="currentlist">
    <div id="currentlist-head">Current</div>
    <div class="list-items">
        {% for shortlink in request.user.profile.shortlink %}
        <div class="list-item">
            <div class="item-url"><a href="{{ shortlink.url }}" title="{{ shortlink.url }}">{{ shortlink.shortname }}</a></div>
            <div class="item-edit"><a href="{% url edit_shortlink shortlink.shortname %}">Edit</a></div>
            <div class="item-delete"><a href="{% url delete_shortlink shortlink.shortname %}">Delete</a></div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
