{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="/media/css/monitor.css" />
{% endblock %}
{% block content %}
<script type="text/javascript">
    var url_login = "{% url login %}";

</script>

<form id="monitor-form" action="{% url manage_monitor_course %}" method="post">
    <div id="form-content">
        {% csrf_token %}
        <label for="ccn">Course CCN</label> <br />
        <input type="text" name="ccn" /> <br />
        <label for="cell-phone">Cell Phone</label> <br />
        <input type="text" name="cellphone" /> <br />
        <input type="submit" name="submit" value="Submit" />
    </div>
</form>

<div id="note">
</div>
{% endblock %}
