{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="/media/css/monitor.css" />
{% endblock %}
{% block content %}
<script type="text/javascript">
    var url_login = "{% url login %}";

</script>

<form id="form" method="post" class="form">
    <div class="form-header">Set your cell phone.</div>
        <div id="form-content">
            {% csrf_token %}
            <label for="shortname">Cell phone</label> <br />
            <input type="text" name="cell-phone" /> <br />
            <input type="submit" name="submit" value="Save" />
    </div>
</form>

<div id="note">
</div>
{% endblock %}
